<!-- Search and list of result -->
<div class="nga-default nga-default nga-slide-up" ng-if="!vm.isShowingDetails">
    <!-- Result area -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-th-list text-primary"></i> Search result </h3>
                    <div class="box-tools pull-right">
                        <div class="input-group input-group-sm pull-left" style="width: 200px;">
                            <input type="text" class="form-control input-lg" placeholder="Search for Papers" ng-enter="vm.search()" ng-model="vm.searchTerm" ng-model-options="{debounce: 50}" />
                            <div class="input-group-btn">
                                <button type="submit" ng-click="vm.search()" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- box-body table -->
                <div class="box-body table-responsive " ng-if="vm.papers.length > 0 && vm.isLoaded">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Main Author</th>
                                <th>Keywords</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="paper in vm.papers | paperFilter:vm.userInfo:'username'" class="nga-default nga-stagger nga-slide-left">
                                <!-- <td>{{paper.title}}</td> -->
                                <td><span ng-bind-html="paper.title"></span></td>
                                <td>{{paper.author}}</td>
                                <td>
                                    <ul class="list-inline" ng-if="paper.keywords.length > 0">
                                        <li ng-repeat="keyword in paper.keywords">
                                            <span ng-class="vm.getKeywordLabel(keyword.description)">{{keyword.description}}</span>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="pull-right">
                                        <a class="btn btn-success btn-xs" popover-placement="left" uib-popover="Edit" popover-trigger="mouseenter" ui-sref="paperupdate({paperId: paper.id})"><i class="fa fa-edit"></i></a>
                                        <button uib-popover="Details" popover-placement="left" popover-trigger="mouseenter" class="btn btn-primary btn-xs" ng-click="vm.getPaperDetails(paper)"><i class="fa fa-list"></i></button>
                                        <button class="btn btn-danger btn-xs" popover-placement="left" uib-popover="Delete" popover-trigger="mouseenter" ng-click="vm.remove(paper)"><i class="fa fa-remove"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overlay" ng-if="vm.isPaging">
                    <i class="fa fa-refresh fa-spin text-blue"></i>
                </div>
                <!-- ./box-body table -->
                <!-- box-body alert -->
                <div class="box-body" ng-if="vm.papers.length <= 0 && vm.isLoaded">
                    <br>
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> No Papers!</h4> There is not paper available in the database.
                        </div>
                    </div>
                </div>
                <!-- ./box-body alert -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-8">
                            <div ng-if="vm.totalItems > vm.itemPerPage" data-pagination="" data-total-items="vm.totalItems" data-ng-change="vm.pageChanged()" data-ng-model="vm.currentPage" data-items-per-page="vm.itemPerPage" class="pagination-sm" boundary-links="true">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-primary  btn-sm pull-right" ui-sref="paperadd"><i class="fa fa-plus"></i> Add New Paper</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./search -->
<!-- include detail template -->
<div ng-include src="'/client/views/paper/paper.details.html'" class="nga-default nga-default nga-slide-up" ng-if="vm.isShowingDetails">
</div>
<!-- ./detail template -->
