<br>
<div class="row">
    <!-- nga-default nga-slide-up -->
    <div class="col-xs-12">
        <div class="box box-primary">
            <!-- body-header -->
            <div class="box-header with-border">
                <div class="pull-left">
                    <h3 class="box-title"><i class="fa fa-arrow-left color-blue pointer" ng-click="vm.goBack('paperindex')"></i> Update Paper</h3>
                </div>
                <div class="pull-right">
                    <button class="btn btn-xs btn-success" ng-click="vm.goBack('admin.index')" ng-disabled="paperUpdateForm.$dirty"><i class="fa fa-arrow-left"></i> Admin</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- ./body-header -->
            <!-- box-body -->
            <div class="box-body">
                <div class="row">
                    <!-- col-xs-8 -->
                    <div class="col-xs-8">
                        <!-- row validation errors-->
                        <div class="row nga-slow nga-slide-up" ng-if="vm.errors.length > 0">
                            <div class="col-xs-12">
                                <div class="callout callout-danger">
                                    <h4 style="color:white">Validation errors</h4>
                                    <ul class="list-unstyled">
                                        <li ng-repeat="error in vm.errors">{{error}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- ./row -->
                        <form name="paperUpdateForm" novalidate role="form">
                            <fieldset ng-disabled="!vm.isLoaded">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group" ng-class="{'has-error': vm.isInvalid(paperUpdateForm.title) && !titleFocus}">
                                            <label for="title">Title</label>
                                            <input type="text" ng-model="vm.paper.title" class="form-control" id="title" name="title" required placeholder="Paper title" minlength="4" maxlength="75" ng-focus="titleFocus=true" ng-blur="titleFocus=false">
                                            <!-- error message-->
                                            <div data-ng-messages="paperUpdateForm.title.$error" ng-if="vm.isInvalid(paperUpdateForm.title) && !titleFocus" class="error-messages nga-default nga-rotate-up">
                                                <span data-ng-message="required">Last title is required.</span>
                                                <span data-ng-message="minlength">The minimum length is 4 characters.</span>
                                                <span data-ng-message="maxlength">The maximum length is 40 characters.</span>
                                            </div>
                                            <!--/error message-->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group" ng-class="{'has-error': vm.isInvalid(paperUpdateForm.abstract) && !abstractFocus}">
                                            <label for="abstract">Abstract</label>
                                            <textarea type="text" class="form-control" ng-model="vm.paper.abstract" id="abstract" name="abstract" placeholder="Paper abstract" required minlength="4" maxlength="200" ng-focus="abstractFocus=true" ng-blur="abstractFocus=false">
                                            </textarea>
                                            <!-- error message-->
                                            <div data-ng-messages="paperUpdateForm.abstract.$error" ng-if="vm.isInvalid(paperUpdateForm.abstract) && !abstractFocus" class="error-messages nga-default nga-rotate-up">
                                                <span data-ng-message="required">abstract is required.</span>
                                                <span data-ng-message="minlength">The minimum length is 4 characters.</span>
                                                <span data-ng-message="maxlength">The maximum length is 40 characters.</span>
                                            </div>
                                            <!--/error message-->
                                        </div>
                                    </div>
                                </div>
                                <!-- row -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group" ng-class="{'has-error': vm.isInvalid(paperUpdateForm.citation) && !citationFocus}">
                                            <label for="citation" class="control-label">Citation</label>
                                            <input type="text" required class="form-control" id="citation" name="citation" placeholder="Paper citation" ng-model="vm.paper.citation" minlength="4" maxlength="75" ng-focus="citationFocus=true" ng-blur="citationFocus=false">
                                            <small class="help-block">Enter comma-separated citation</small>
                                            <!-- error message-->
                                            <div data-ng-messages="paperUpdateForm.citation.$error" ng-if="vm.isInvalid(paperUpdateForm.citation) && !citationFocus" class="error-messages nga-default nga-rotate-up">
                                                <span data-ng-message="required">The citation is required.</span>
                                                <span data-ng-message="minlength">The minimum length is 4 characters.</span>
                                                <span data-ng-message="maxlength">The maximum length is 40 characters.</span>
                                            </div>
                                            <!--/error message-->
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ row -->
                                <!-- row -->
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="keywords" class="control-label">Keywords</label>
                                            <select required multiple class="form-control" id="keywords" name="keywords" ng-model="vm.paper.keywords" ng-options="keyword.id as keyword.description for keyword in vm.keywords">
                                                <!-- <option selected="" disabled="" value="">Select keywords</option> -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="facultyId" class="control-label">Faculties</label>
                                            <select data-placeholder="Select faculty" required class="form-control" id="facultyId" name="facultyId" ng-model="vm.paper.facultyId" ng-options="faculty.id as faculty.name for faculty in vm.faculties">
                                                <option selected="" disabled="" value="">Select faculty</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./row -->
                            </fieldset>
                        </form>
                    </div>
                    <!-- ./col-xs-8 -->
                    <!-- col-xs-4 -->
                </div>
            </div>
            <!-- ./box-body -->
            <div class="overlay" ng-if="!vm.isLoaded">
                <i class="fa fa-refresh fa-spin text-blue"></i>
            </div>
            <!-- box-footer -->
            <div class="box-footer">
                <button type="submit" class="btn btn-success" ng-disabled="paperUpdateForm.$invalid" ng-click="vm.update(paperUpdateForm)"><i class="fa fa-check"></i> Update</button>
                <button type="reset" class="btn btn-warning" ui-sref="paperindex"><i class="fa fa-refresh"></i> Cancel</button>
            </div>
            <!-- ./box-footer -->
        </div>
    </div>
</div>
