<div class="row nga-default nga-slide-up" ng-if="vm.isCreatingUser">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title"><i clas="fa fa-plus"></i> New User</h3>
                </div>
                <div class="pull-right">
                    <button class="btn btn-xs btn-success" ng-click="vm.goBack('admin')"><i class="fa fa-arrow-left"></i> Back</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <form name="newUserForm" novalidate role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastname">Last name</label>
                                        <input type="text" ng-model="vm.user.lastname" class="form-control" id="lastname" name="lastname" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="firstname" class="control-label">First name</label>
                                        <input type="text" ng-model="vm.user.firstname" class="form-control" id="firstname" name="firstname" placeholder="First name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" ng-model="vm.user.username" id="username" name="username" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email" class="control-label">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password" class="control-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="confirmPassword" class="control-label">Confirm password</label>
                                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                            <button type="reset" class="btn btn-warning" ng-click="vm.clearInfo(newUserForm)"><i class="fa fa-refresh"></i> Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
