<br>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-gears color-blue"></i> Administration Area </h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-4" ui-sref="userindex">
                <div class="tile purple">
                    <h4 class="title"><i class="fa fa-user fa-2x"></i> User Management</h4>
                    <p>Manage faculty and students</p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="tile red">
                    <h4 class="title"><i class="fa fa-file-text-o fa-2x"></i> Paper Management</h4>
                    <p>Manage paper</p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="tile blue">
                    <h4 class="title"><i class="fa fa-search fa-2x"></i> Browse Papers</h4>
                    <p>Browse existing papers</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="tile green">
                    <h4 class="title"><i class="fa fa-bar-chart fa-2x"></i> General Statistic</h4>
                    <p>Statistics about papers</p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="tile orange">
                    <h4 class="title"><i class="fa fa-key fa-2x"></i> Keywords Management</h4>
                    <p>Manage keywords</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
