
<div class="">
    <div class="row">
        <div class="col-sm-12">
            <h2><i class="fa fa-gears color-blue"></i><span class="header-underline"> Administration Area </span></h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4" ui-sref="userindex">
            <div class="tile purple">
                <h3 class="title"><i class="fa fa-user fa-2x"></i> User Management</h3>
                <p>Manage faculty and students</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile red">
                <h3 class="title"><i class="fa fa-file-text-o fa-2x"></i> Paper Management</h3>
                <p>Manage paper</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile orange">
                <h3 class="title"><i class="fa fa-key fa-2x"></i> Keywords Management</h3>
                <p>Manage keywords</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="tile green">
                <h3 class="title"><i class="fa fa-bar-chart fa-2x"></i> General Statistic</h3>
                <p>Statistics about papers</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile blue">
                <h3 class="title"><i class="fa fa-search fa-2x"></i> Browse Papers</h3>
                <p>Browse existing papers</p>
            </div>
        </div>
    </div>
</div>
