<br>
<div class="row">
    <!-- nga-default nga-slide-up -->
    <div class="col-xs-12">
        <div class="box box-primary">
            <!-- body-header -->
            <div class="box-header with-border">
                <div class="pull-left">
                    <h3 class="box-title"><i class="fa fa-arrow-left color-blue pointer" ng-click="vm.goBack('userindex')"></i> New User</h3>
                </div>
                <div class="pull-right">
                    <button class="btn btn-xs btn-success" ng-click="vm.goBack('admin.index')" ng-disabled="newUserForm.$dirty"><i class="fa fa-arrow-left"></i> Admin</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- ./body-header -->
            <!-- box-body -->
            <div class="box-body">
                <div class="row">
                    <!-- col-xs-8 -->
                    <div class="col-xs-8">
                        <!-- row validation errors-->
                        <div class="row nga-slow nga-slide-up" ng-if="vm.errors.length > 0">
                            <div class="col-xs-12">
                                <div class="callout callout-danger">
                                    <h4 style="color:white">Validation errors</h4>
                                    <ul class="list-unstyled">
                                        <li ng-repeat="error in vm.errors">{{error}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- ./row -->
                        <form name="newUserForm" novalidate role="form">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{'has-error': vm.isInvalid(newUserForm.lastName) && !lastNameFocus}">
                                        <label for="lastName">Last name</label>
                                        <input type="text" ng-model="vm.user.lastName" class="form-control" id="lastName" name="lastName" required placeholder="Last name" minlength="4" maxlength="40" ng-focus="lastNameFocus=true" ng-blur="lastNameFocus=false">
                                        <!-- error message-->
                                        <div data-ng-messages="newUserForm.lastName.$error" ng-if="vm.isInvalid(newUserForm.lastName) && !lastNameFocus" class="error-messages nga-default nga-rotate-up">
                                            <span data-ng-message="required">Last Name is required.</span>
                                            <span data-ng-message="minlength">The minimum length is 4 characters.</span>
                                            <span data-ng-message="maxlength">The maximum length is 40 characters.</span>
                                        </div>
                                        <!--/error message-->
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{'has-error': vm.isInvalid(newUserForm.firstName) && !firstNameFocus}">
                                        <label for="firstName" class="control-label">First name</label>
                                        <input type="text" required ng-model="vm.user.firstName" class="form-control" id="firstName" name="firstName" placeholder="First name" minlength="4" maxlength="40" ng-focus="firstNameFocus=true" ng-blur="firstNameFocus=false">
                                        <!-- error message-->
                                        <div data-ng-messages="newUserForm.firstName.$error" ng-if="vm.isInvalid(newUserForm.firstName) && !firstNameFocus" class="error-messages nga-default nga-rotate-up">
                                            <span data-ng-message="required">First Name is required.</span>
                                            <span data-ng-message="minlength">The minimum length is 4 characters.</span>
                                            <span data-ng-message="maxlength">The maximum length is 40 characters.</span>
                                        </div>
                                        <!--/error message-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{'has-error': vm.isInvalid(newUserForm.username) && !usernameFocus}">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" ng-model="vm.user.username" id="username" name="username" placeholder="Last name" required minlength="4" maxlength="20" ng-focus="usernameFocus=true" ng-blur="usernameFocus=false">
                                        <!-- error message-->
                                        <div data-ng-messages="newUserForm.username.$error" ng-if="vm.isInvalid(newUserForm.username) && !usernameFocus" class="error-messages nga-default nga-rotate-up">
                                            <span data-ng-message="required">Username is required.</span>
                                            <span data-ng-message="minlength">The minimum length is 4 characters.</span>
                                            <span data-ng-message="maxlength">The maximum length is 40 characters.</span>
                                        </div>
                                        <!--/error message-->
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{'has-error': vm.isInvalid(newUserForm.email) && !emailFocus}">
                                        <label for="email" class="control-label">Email</label>
                                        <input type="email" class="form-control" id="email" ng-model="vm.user.email" name="email" placeholder="Email" ng-focus="emailFocus = true" ng-blur="emailFocus = false" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                        <!-- error message-->
                                        <div data-ng-messages="newUserForm.email.$error" ng-if="vm.isInvalid(newUserForm.email) && !emailFocus" class="error-messages nga-default nga-rotate-up">
                                            <span data-ng-message="email">Provive a valid email.</span>
                                            <span data-ng-message="pattern">Invalid email format.</span>
                                        </div>
                                        <!--/error message-->
                                    </div>
                                </div>
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{'has-error': vm.isInvalid(newUserForm.password) && !passwordFocus}">
                                        <label for="password" class="control-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="vm.user.password" required minlength="4" maxlength="20" ng-focus="passwordFocus=true" ng-blur="passwordFocus=false">
                                        <!-- error message-->
                                        <div data-ng-messages="newUserForm.password.$error" ng-if="vm.isInvalid(newUserForm.password) && !passwordFocus" class="error-messages nga-default nga-rotate-up">
                                            <span data-ng-message="required">The password is required.</span>
                                            <span data-ng-message="minlength">The minimum length is 4 characters.</span>
                                            <span data-ng-message="maxlength">The maximum length is 40 characters.</span>
                                        </div>
                                        <!--/error message-->
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{'has-error': vm.isInvalid(newUserForm.confirmPassword) && !confirmPasswordFocus}">
                                        <label for="confirmPassword" class="control-label">Confirm password</label>
                                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" ng-model="vm.user.confirmPassword" required minlength="4" maxlength="20" ng-focus="confirmPasswordFocus=true" ng-blur="confirmPasswordFocus=false" password-confirm match-target="vm.user.password">
                                        <!-- error message-->
                                        <div data-ng-messages="newUserForm.confirmPassword.$error" ng-if="vm.isInvalid(newUserForm.confirmPassword) && !confirmPasswordFocus" class="error-messages nga-default nga-rotate-up">
                                            <span data-ng-message="required">The confirm password is required.</span>
                                            <span data-ng-message="minlength">The minimum length is 4 characters.</span>
                                            <span data-ng-message="maxlength">The maximum length is 40 characters.</span>
                                            <span data-ng-message="match">Password and confirm password must match</span>
                                        </div>
                                        <!--/error message-->
                                    </div>
                                </div>
                            </div>
                            <!-- ./ row -->
                            <!-- row -->
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="roleId" class="control-label">Role</label>
                                        <select class="form-control" id="roleId" name="roleId" ng-model="vm.user.roleId" ng-options="role.id as role.description for role in vm.roles">
                                            <option selected="" disabled="" value="">Select role</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- ./row -->
                        </form>
                    </div>
                    <!-- ./col-xs-8 -->
                    <!-- col-xs-4 -->
                </div>
            </div>
            <!-- ./box-body -->
            <!-- box-footer -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="newUserForm.$invalid" ng-click="vm.saveUser(newUserForm)"><i class="fa fa-save"></i> Save</button>
                <button type="reset" class="btn btn-warning" ng-disabled="newUserForm.$pristine" ng-click="vm.clearInfo(newUserForm)"><i class="fa fa-refresh"></i> Cancel</button>
            </div>
            <!-- ./box-footer -->
        </div>
    </div>
</div>
